:root {
    /* defining variables */
    --max-width: 1600px; /* main content max width */
    --crowding-bar-height: 1.25rem;
    --crowding-bar-width: 18rem;

    /* crowding bar colors */
    --level1: #66d575;
    --level2: #5ad8cc;
    --level3: #ffc943;
    --level4: #ff9e42; 
    --level5: #f24822;

    /* component colors */
    --grey-050: #fafafa; /* lightest */
    --grey-100: #f2f2f2;
    --grey-200: #e4e4e4; /* card hover grey */
    --grey-300: #b9b9b9;
    --grey-400: #757575; /* drop shadow grey */
    --grey-500: #424651; /* darkest */
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
}

body {
    background: var(--grey-050);
}

/******************************
*********** HEADER ************
******************************/
header {
    background: #cbc9ec;

    height: 65px;
    box-sizing: border-box; /* don't want padding to affect height */
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center; /* vertical alignment */
}

#app-logo {
    font-weight: bold;
    font-size: 1.4rem;
}

#app-logo:hover {
    cursor: pointer;
    color: #602dcf;
}

.user-icon {
    background: var(--level2);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    box-sizing: border-box; 

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-content {
    height: fit-content;
    font-size: 1.5rem;
}

.user-icon:hover {
    cursor: pointer;
    background: #40a198;
}

/******************************
************ MAIN *************
******************************/
main {
    max-width: var(--max-width);
    margin: 1rem auto;
    padding: 0 1rem;
}

#profile-container {
    background: var(--grey-200);
    padding: 1rem;
    border-radius: 1rem;

    min-width: fit-content;
}

/******* PROFILE HEADER ********/
/** (name, pronouns, user_id) **/
.profile-header {
    box-sizing: border-box;

    width: 100%;

    display: flex;
    align-items: center;
    padding: 1rem;
}

#profile-icon {
    /* this is the one in the profile header, different size from navbar header */
    min-width: 4rem; /* prevent icon circle from squashing with smaller window width */
    min-height: 4rem;
    align-items: center;
}

#profile-icon:hover {
    cursor: pointer;
    background: ;
}

#profile-icon .icon-content {
    font-size: 2rem;
}

.header-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;

    margin-left: 0.8rem;
    align-items: center;
}

#profile-name {
    font-size: 2.5rem;
}

.user-pronouns {
    color: var(--grey-500);
    background: var(--grey-100);
    
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: fit-content;
    width: fit-content;

    font-size: 1.2rem;
}

.header-text-container .user-id {
    font-size: 1.2rem;
    color: var(--darkgrey);
}


/****** PROFILE CONTENT *******/
.profile-content-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;

    min-height: 65vh;
}

.profile-subsection {
    border-radius: 0.5rem;
    padding: 1rem;
    background: var(--grey-050);
}

.profile-subsection * {
    font-size: 1.5rem;
}

.location-link {
    color: black;
    text-decoration: none;
}

.location-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.location-link:visited {
    color: black;
}

.user-info-container {
    grid-row: 1 / 3;
}

.user-info-container li {
    list-style: none;
}

.course-list-container {
    grid-row: 3 / 3;
}

.blurb-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.recent-post-container {
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
}

.post-embed-container {
    background: white;
    margin-top: 1rem;
    width: 90%;
    height: 90%;
    box-shadow: var(--grey-400) 0 1px 3px;
    /* same box shadow as location cards */
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

/******************************
******** MEDIA QUERIES ********
******************************/
@media screen and (max-width: 60rem) {
    /*  window width small enough for single card rows,
        e.g., mobile devices in portrait mode, most likely */

    /**** subsection layout ****/
    .profile-content-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1rem;
    
        min-height: 60vh;
    }

    .user-info-container {
        grid-row: auto;
    }
     
    .course-list-container {
        grid-row: auto;
    }
    
    .blurb-container {
        grid-row: 1;
    }
    
    .recent-post-container {
        grid-row: auto;
    }
}

@media screen and (max-width: 40rem) {
/* window width small enough to need profile header wrapping */
/**** profile header ****/
main {background:lightblue}
    .header-text-container {
        display: flex;
        flex-wrap: wrap;
    }
}
