body {
    background: #E8E1FD;
}

.register-container{
    margin: 2vw;
}

.form-title{
    margin: 1vw;
    font-size: 2rem;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vw;
    background-color: white;
    border-radius: 1rem;
}

.email, .password {
    display: flex;
    flex-direction: column;
    margin: 2vw;
}

.email input, .password input {
    margin: 0.5vw;
    padding: 0.5vw;
    border-radius: 0.5rem;
    border-color: #e4e4e4;
    font-size: 1.5rem;

}

.email label, .password label{
    margin: 0.5vw;
    font-size: 1.5rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
    cursor: pointer;
}

#submit, #toggle-form{ 
    padding: 0.5vw;
    margin: 0.5vw;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

#submit {
    background-color:#e5dcfd;
    border-color: #e5dcfd;
}

#submit:hover {
    background-color: #874fff;
    border-color: #874fff;
    color: #ffffff;
}

#toggle-form {
    background-color: #d5f5f2;
    border-color: #d5f5f2;
}

#toggle-form:hover {
    background-color: #5ad8cc;
    border-color: #5ad8cc;
    color: #ffffff;
}