/******************************
*********** HEADER ************
******************************/
header {
    background: var(--navbar-purple);

    height: 65px;
    box-sizing: border-box;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Study on Campus "logo" text */
#app-logo {
    font-weight: bold;
    font-size: 1.4rem;
}

#app-logo:hover {
    cursor: pointer;
    color: #602dcf;
}

/****** REGISTER CONTENT *******/

body {
    background: #E8E1FD;
    height: 100vh;
}

.page {
    min-height: calc(100% - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title{
    margin: 1vw;
    font-size: 5rem;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vw;
    background-color: white;
    border-radius: 1rem;
}

.email, .password {
    display: flex;
    flex-direction: column;
    margin: 2vw;
}

.email input, .password input {
    margin: 0.5vw;
    padding: 0.5vw;
    border-radius: 0.5rem;
    border-color: #e4e4e4;
    font-size: 1.5rem;

}

.email label, .password label{
    margin: 0.5vw;
    font-size: 1.5rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
    cursor: pointer;
}

#submit, #toggle-form{ 
    padding: 0.5vw;
    margin: 0.5vw;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

#submit {
    background-color:#e5dcfd;
    border-color: #e5dcfd;
}

#submit:hover {
    background-color: #874fff;
    border-color: #874fff;
    color: #ffffff;
}

#toggle-form {
    background-color: #d5f5f2;
    border-color: #d5f5f2;
}

#toggle-form:hover {
    background-color: #5ad8cc;
    border-color: #5ad8cc;
    color: #ffffff;
}

/* Media Queries for Phone Screens */

@media (max-width: 768px) {
    #register-container {
        width: 75%;
    }

    .form-title {
        font-size: 4rem;
    }

    .email input,
    .password input,
    #submit,
    #toggle-form {
        font-size: 1.2rem;
    }

    .email label,
    .password label {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    #register-container {
        width: 75%;
    }

    .form-title {
        font-size: 3.5rem;
    }

    form {
        padding: 1rem;
    }

    .email input,
    .password input,
    #submit,
    #toggle-form {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .email label,
    .password label {
        font-size: 1rem;
    }

    #app-logo {
        font-size: 1rem;
    }
}