.back-button {
    background-color: #dedede;
    border: none;
    font-weight: 600;
    font-size: 15px;
    border-radius: 0.5rem;
    padding: 10px 30px;
    margin-top: 25px;
    margin-left: 1rem;
}

.post-container {
    background-color: #d8cafb;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 20px auto;
    justify-content: flex-start;
    max-width:95%
}

.post-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 12px;
    background-color:#baa2f6;
    border-radius: 0.5rem;
}

.user-post-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.info-subgroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.settings-container, .comment-settings {
    position: relative;
    display: inline-block;
}

.settings-dropdown {
    display: none;
    position: absolute;
    background-color: #dedede;
    padding: 0.7rem;
    right: 0;
    width: 5rem;
    z-index: 1;
    border-radius: 0.5rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.comment-dropdown {
    display: none;
    position: absolute;
    background-color: #dedede;
    padding: 0.7rem;
    right: 0;
    font-weight: 450;
    width: 2.8rem;
    z-index: 1;
    border-radius: 0.5rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}


/* POST CSS ABOVE, COMMENT CSS BELOW*/

.comment {
    background-color: #baa2f6;
    margin-bottom: 15px;
}

.commenter-icon {
    background-color: #5ad8cc;
    color: black;
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.comment {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-style: solid;
    border-color: #d8cafb;
    border-width: 8px;
    border-radius: 13px;
}

.commenter-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin: 0px;
}

.comment-container {
    margin-top: 100px;
    max-width:95%;
    margin: auto;
}

.comment-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.comment-data {
    padding: 20px 5px;
}
.comment-text {
    margin-top: 5px;
    margin-bottom: 10px;
}

.comment-box {
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    border-style:none;
    padding: 5px;
    font-size: 1em;
    outline: none;
    resize:vertical;
    vertical-align: top;
}

.comment-add {
    min-width: auto;
    max-width: 30rem;
    border-radius: 0.5rem;
    border: none;
    padding: 5px 5px;
    margin-top: 10px;
    color: black;
    background-color: #dedede;
}

.tag-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 12px 0px;

    gap: 6px;
    max-width: 100%;
    border-radius: 6px;

    font-size: 1rem;
    flex-wrap: wrap;
    overflow: hidden;
}

.tag {
    background-color: white;
    border-radius: 6px;
    padding: 1px 5px;
    min-width: 75px;
    text-align: center;
    overflow:hidden;
    white-space: nowrap;
}

.comment-user {
    font-weight: bold;
}

/* MEDIA CSS FOR MOBILE */
@media (max-width: 625px) {
    #app-logo {
        font-size: 1.5rem;
    }
    .user-icon{
        width: 30px;
        height: 30px;
        font-size: 15px;
        font-weight: 475;
    }
    .nav-button {
        text-align: center;
    }
    .posts-container {
        max-width: 100%;
    }
    .back-button {
        padding: 20px 30px;
        font-size: 20px;
        font-weight: 650;
        width: 100%;
        margin-left: 0;
    }
    .commenter-icon {
        width: 10px;
        max-width: 10px;
        height: 10px;    
        max-height: 10px;
    }
    .user-post-info {
        justify-content: space-evenly;
    }
    .comment-add {
        font-size: 20px;
        padding: 12px 0;
    }
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .nav-button {
        text-align: center;
        font-size: 1.4rem;
        margin: 0.1rem;
    }
}