/* Base styles for web application */
:root {
    /**** defining variables ****/
    /* brand/accent/crowding bar colors */
    --navbar-purple: #dcccff;

    --level1: #66d575;
    --level2: #5ad8cc;
    --level3: #ffc943;
    --level4: #ff9e42; 
    --level5: #f24822;

    /* component colors */
    --grey-050: #fafafa; /* lightest */
    --grey-100: #f2f2f2;
    --grey-200: #dedede; /* main grey */
    --grey-300: #b9b9b9;
    --grey-400: #757575; /* drop shadow grey */
    --grey-500: #424651; /* darkest */

    /* misc. values */
    --max-width: 1600px; /* main content max width */
    --crowding-bar-height: 1.25rem;
    --crowding-bar-width: 18rem;
}

html {
    font-size: 14pt;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/******************************
************ BODY *************
******************************/
body {
    background: var(--grey-050); /* page background slightly off-white */
}


/******************************
*********** HEADER ************
******************************/
header {
    background: var(--navbar-purple);

    height: 65px;
    box-sizing: border-box; /* don't want padding to affect height */
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center; /* vertical alignment */
}

/* Study on Campus "logo" text */
#app-logo {
    font-weight: bold;
    font-size: 1.4rem;
}

#app-logo:hover {
    cursor: pointer;
    color: #602dcf;
}

/* site navigation options */
nav {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.nav-button {
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid var(--grey-300);
    border-radius: 20rem;

    color: var(--grey-500);
    background: var(--grey-200);
    font-weight: 600;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.nav-button:hover {
    outline: var(--grey-500) solid 2px;
    background: var(--level1);
    border-color: var(--level1);
    cursor: pointer;
}

/* user icon, appears in top right */
.user-icon {
    background: var(--level2);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    box-sizing: border-box; 

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-content {
    height: fit-content;
    font-size: 1.5rem;
}

.user-icon.can-click:hover {
    cursor: pointer;
    background: white;
    outline: var(--grey-500) solid 2px;
}
