/* Base styles for web application */
:root {
    /**** defining variables ****/
    /* brand/theme colors */
    --navbar-purple: #d1befb;
    --light-purple: #e5dcfd;
    --dark-purple: #874fff; 

    /* accent colors */
    /* light */
    --light-blue: #d5f5f2;

    /* bright */
    --bright-green: #66d575;
    --bright-blue: #5ad8cc;
    --bright-yellow: #ffc943;
    --bright-orange: #ff9e42; 
    --bright-red: #f24822;

    /* dark */
    --dark-green: #15a36d;
    --dark-blue: #5591df;
    --dark-yellow: #e69926;
    --dark-orange: #e66326;
    --dark-red: #a80a67;

    /* component colors */
    --grey-050: #fafafa; /* lightest, body off white */
    --grey-100: #f2f2f2;
    --grey-200: #dedede; /* main grey */
    --grey-300: #b9b9b9;
    --grey-400: #757575; /* drop shadow grey */
    --grey-500: #424651; /* darkest */

    /* misc. values */
    --max-width: 1600px; /* main content max width */
    --crowding-bar-height: 1.25rem; /* for location crowding indicator */
    --crowding-bar-width: 18rem;
}

html {
    font-size: 14pt;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/******************************
************ BODY *************
******************************/
body {
    background: var(--grey-050); /* page background slightly off-white */
}

/* user icon, appears in top right */
.user-icon {
    background: var(--bright-blue);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    box-sizing: border-box; 

    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon.can-click:hover {
    cursor: pointer;
    outline: var(--grey-500) solid 2px;
}

.icon-content {
    height: fit-content;
    font-size: 1.5rem;
}
